.footer {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c88db0;
    color: #fff
}

.footer span {
    font-weight: bold;
    color: #fff;
}